<!DOCTYPE>
<html lang='en' ng-app='solutionsApp'>
<head>
  <link rel="icon" href="assets/unnamed2.png"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

<script src="app/sApp.js"></script>
<script src="app/controllers/solutions.js"></script>

  <title>Contact List App</title>
</head>
<body ng-controller='solutionsCtrl'>
  <div class="container">
    <h1>Contact List App</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="solution in solutions">
          <td>{{solution.name}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
