<body>
  <div ng-controller="listCtrl as quiz">
    <div ng-show="quiz.quizObj.quizActive">
      <div class="row">
        <div class="col-xs-8">
          <h4>Progress:</h4>
          <div class="btn-toolbar">
            <button class="btn"
                    ng-repeat="question in quiz.quizQuestions"
                    ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
                    ng-click="quiz.setActiveQuestion($index)">
                    <span class="glyphicon"
                            ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}"></span>
            </button>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <h4>Legend:</h4>
            <div class="col-sm-4">
              <button class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <p>Answered</p>
            </div>
            <div>
              <button class="btn btn-danger">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
              <p>Unanswered</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-danger"
             ng-show="quiz.error">
             <button class="close" ng-click="quiz.error = false">&times</button>
        </div>
        <h3>Question:</h3>
        <div class="well well-sm" ng-hide="quiz.finalise">
          <div class="row">
            <div class="col-xs-12">
              <h4>{{quiz.activeQuestion + 1 + ". " + quiz.quizQuestions[quiz.activeQuestion].text}}</h4>
              <div class="row"
                   ng-if="quiz.quizQuestions[quiz.activeQuestion].type === 'text'">
                   <div class="col-sm-6" ng-repeat="answer in quiz.quizQuestions[quiz.activeQuestion].possibilities">
                     <h4 class="answer"
                         ng-class="{'bg-info': $index === quiz.quizQuestions[quiz.activeQuestion].selected}"
                         ng-click="quiz.selectAnswer($index)">
                         {{answer.answer}}
                       </h4>
                   </div>
              </div>
              <div class="row"
                   ng-if="quiz.quizQuestions[quiz.activeQuestion].type === 'image'">
                   <div class="col-sm-6" ng-repeat="answer in quiz.quizQuestions[quiz.activeQuestion].possibilities">
                     <div class="image-answer"
                          ng-class="{'image-selected': $index === quiz.quizQuestions[quiz.activeQuestion].selected}"
                          ng-click="quiz.selectAnswer($index)">
                          <img ng-src="{{answer.answer}}">
                     </div>
                   </div>
              </div>
            </div>
          </div>
          <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
        </div>
        <div class="well well-sm" ng-show="quiz.finalise">
          <div class="row">
            <div class="col-xs-12">
              <h3>Are you sure you want to submit your answers?</h3>
              <button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Yes</button>
              <button class="btn btn-danger" ng-click="quiz.finalise = false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Results -->
      <div ng-hide="quiz.quizObj.quizActive">
        <div class="row">
          <div class="col-xs-8">
            <h2>Results:</h2>
            <div class="btn-toolbar">
              <button class="btn"
                      ng-repeat="question in quiz.quizQuestions"
                      ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                      ng-click="quiz.setActiveQuestion($index)">
                      <span class="glyphicon"
                            ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}">
              </button>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <h4>Legend:</h4>
              <div class="col-sm-4">
                <button class="btn btn-success">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <p>Correct</p>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <p>Incorrect</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 top-buffer">
            <h2>You Scored: {{quiz.quizObj.numCorrect}} / {{quiz.quizQuestions.length}}</h2>
            <h2><strong>{{quiz.calculatePerc() | number: 2}}%</strong></h2>
          </div>
        </div>
        <div class="row">
          <h3>Questions:</h3>
          <div class="well well-sm">
            <div class="row">
              <div class="col-xs-12">
                <h4>{{quiz.activeQuestion + 1 + ". " + quiz.quizQuestions[quiz.activeQuestion].text}}</h4>
                <div class="row"
                     ng-if="quiz.quizQuestions[quiz.activeQuestion].type === 'text'">
                     <div class="col-sm-6" ng-repeat="answer in quiz.quizQuestions[quiz.activeQuestion].possibilities">
                       <h4 class="answer"
                           ng-class="quiz.getAnswerClass($index)">
                           {{answer.answer}}
                           <p class="pull-right"
                              ng-show="$index !== quiz.quizObj.correctAnswers[quiz.activeQuestion] && $index === quiz.quizQuestions[quiz.activeQuestion].selected">Your Answer</p>
                           <p class="pull-right"
                              ng-show="$index === quiz.quizObj.correctAnswers[quiz.activeQuestion]">Correct Answer</p>
                       </h4>
                     </div>
                </div>
                <div class="row"
                     ng-if="quiz.quizQuestions[quiz.activeQuestion].type === 'image'">
                     <div class="col-sm-6" ng-repeat="answer in quiz.quizQuestions[quiz.activeQuestion].possibilities">
                       <div class="image-answer"
                            ng-class="quiz.getAnswerClass($index)">
                            <img ng-src="{{answer.answer}}">
                       </div>
                     </div>
                </div>
              </div>
           </div>
         </div>
         <button class="btn btn-primary btn-lg" ng-click="quiz.reset()" onclick="location.href='/quizes/big_O_Quiz_Recap'">Go Back To Facts</button>
       </div>
</body>
