<div class="page-header">
	<h1>QUIZES</h1>
  <div>
    <ul class="list-group">
        <li class="list-group-item">
                <a href="/quizes/big_O_Quiz_Recap">BIG O QUIZ</a>
        </li>
				<li class="list-group-item">
                <a href="/quizes/cpp_Quiz_Recap">C++ QUIZ</a>
        </li>
				<li class="list-group-item">
                <a href="/quizes/java_Quiz_Recap">Java QUIZ</a>
        </li>


				<li class="list-group-item">
                <a href="/quizes/big_O_Quiz_Recap">Data Structures QUIZ</a>
        </li>
				<li class="list-group-item">
                <a href="/quizes/cpp_Quiz_Recap">Object Oriented QUIZ</a>
        </li>
				<li class="list-group-item">
                <a href="/quizes/cpp_Quiz_Recap">Linked Lists QUIZ</a>
        </li>
				<li class="list-group-item">
                <a href="/quizes/big_O_Quiz_Recap">Recursion QUIZ</a>
        </li>
				<li class="list-group-item">
                <a href="/quizes/cpp_Quiz_Recap">Sorting Algorithms QUIZ</a>
        </li>
    </ul>
  </div>
</div>
